ul#top_nav {
    float: right;
    margin-right:25px;
}
ul#top_nav li {
    list-style: none;
    display: inline-block;
    text-align: right;
    padding: 1em 10px 0 0;
    vertical-align: bottom;
    margin: 5px 5px 0 0;
    font-size: 13;
}
.fa {
    font-size: 20px;
    vertical-align: top;
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: default;
}
.fa:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
span#share {
    background-color: #f2f2f2;
    padding:7px 15px;
    cursor: default;
}
span#share:hover {
    background-color: #E1E1E1;
}
img.profile_img {
    border-radius: 25px;
    height: 32px;
    margin: -5px;
    width:32px;
}
div#search {
    position: absolute;
    margin-top:50px;
    width:100%;
}
div#search img {
    display: block;
    margin: 0 auto;
    padding: 142px 0 24px 0;
}
input.search_buttons {
    width: 40%;
    margin-left:30%;
    font-size:17px;
    border: 1px solid #D9D9D9;
}
input.search_buttons:focus {
    border-color: #4387FD;
}
ul.buttons {
    text-align: center;
    padding-left: 0;
}
ul.buttons li {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:2px;
    color: #666;
    font-size:11px;
    font-weight: bold;
    line-height: 27px;
    margin: 17px 6px;
    padding: 0 12px;
    display: inline-block;
}
ul.buttons li:hover {
    background-color: #F8F8F8;
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333;
    cursor: default;
}
div#bottom_nav {
    position: absolute;
    bottom:0 !important;
    width:100%;
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
}
ul#left {
    float: left;
    padding-left: 20px;
    margin-bottom: 0;
}
ul#right {
    float: right;
    padding-right: 10px;
    margin-bottom: 0;
}
ul#left li,
ul#right li {
    list-style: none;
    display: inline;
    line-height:40px;
}
ul#left li a,
ul#right li a {
    color: #666;
    margin: 2px 10px 0;
}
ul#right li a:first-child {
    padding-right: 8px;
}
ul#left li:nth-child(2),
ul#left li:nth-child(3) {
    margin-left: 7px;
}
@media (max-width: 546px) {
    ul#left {
        margin: 0 auto;
        width: 50%;
        float: none;
    }
    ul#right {
        margin: 0 auto;
        width: 50%;
        float: none;
    }
}